venv/
/venv/
*/venv/
project1/
.venv/
*/.venv/
env/
/env/
*/env/
ENV/
/ENV/
*/ENV/
*.pyc
*~
__pycache__/
.env
db.sqlite3
*.sqlite3

/staticfiles/
staticfiles/
*/staticfiles/

/mediafiles/
mediafiles/
*/mediafiles/

*.log
logs/
/logs/
*/logs/

.DS_Store
Thumbs.db

.vscode/
.idea/