{% extends "concerts/base.html" %}

{% block title %}공연장 목록{% endblock %}

{% block content %}
    <h2>공연장 목록</h2>
    {% if locations %}
        <ul class="location-list">
            {% for location in locations %}
            <li class="location-item">
                <h3><a href="{% url 'concerts:concerts_by_location' location.id %}">{{ location.name }}</a></h3>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center;">등록된 공연장 정보가 없습니다.</p>
    {% endif %}
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'concerts:index' %}">홈으로 돌아가기</a>
    </div>
{% endblock %}